.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.opacified {
  opacity: 0.5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS pour les écrans plus petits (téléphones) */
@media only screen and (max-width: 600px) {
  .header {
  }

/* Styles pour les appareils mobiles */
@media (max-width: 600px) {
  .header {
    background-color: #f8f9fa;
    text-align: center;
  }

  .edit-button {
    background-color: #4CAF50;
    color: white;
    padding: 2px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .delete-button {
    background-color: #f44336;
    color: white;
    padding: 2px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button {
    width: 28%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* Styles pour le footer */
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: black;
    text-align: center;
    padding: 10px;
  }

    .footer-button {
    /* Ajoutez vos styles ici. Par exemple : */
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 0 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .ReactModal__Content {
    width: 80%;
    height: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;;
    transform: translate(-4%,50%);
  }
  .quick-search-input {
    width: 90%;
    padding: 12px 20px;
    margin: 18px 0 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  /* POPUP */
  .popup-text-input {
    width: 100%;
    padding: 12px 20px;
    margin: 25px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .popup-date-input {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .popup-select {
    width: 100%;
    padding: 12px 20px;
    margin: 25px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  .close-button {
    position: absolute;
    top: 5px;
    right: 0;
    width: 24px;
    height: 24px;
    background-color: #FF5F57;
    border-radius: 50%;
    border: none;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1001;
  }

  .close-button:before {
    content: '×';
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .confirm-add-button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


  .close-button:hover {
    color: #000;
  }

}
}

